body                     {background-color:whitesmoke;}
h1                       {color: grey;font-family: "Lucida Console", "Courier New", monospace; top:200px; text-align: center}
p                        {color: grey;font-family: "Lucida Console", "Courier New", monospace; margin:20px}
#head                    {max-width: 100%; height: auto; margin-left: 100px} 
.p1                      {font-family: "Lucida Console", "Courier New", monospace;}
#mylinks                 {position: absolute; top: 100px; left: 2px; width: 2000px;margin:10px}
a:visited                {color: black;}
#mainContent             {position: absolute; top: 450px; left: 5em; width: 830px; font-size: 15px;}
#bottom                  {position: absolute; top: 700px; left: 200px; width: 830px;text-align: center; font-size: 13px;}
#caption                 {font-size: 10px; float:right; margin-right: 7em}
#leftborder              {margin-right: 5em; padding-right: 1em;border-right: 0.1em solid black}
#rightborder             {margin-left: 5em; padding-left: 1em;border-left: 0.1em solid black}
.button                  {font: bold 13px Arial;text-decoration: none;background-color: #EEEEEE;
                         color: #333333;padding: 2px 6px 2px 6px;border-top: 1px solid #CCCCCC;
                         border-right: 1px solid #333333;border-bottom: 1px solid #333333;
                         border-left: 1px solid #CCCCCC;padding: 16px 32px;text-align: center;
                         margin: 4px 2px;opacity: 1;transition: 0.3s;}
                       
.button:hover            {opacity: 0.6}

