<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/styDrone.css') }}">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <title>TELLO DRONE</title>
  <style>
    body {background-color: beige;}
    h1 {color: gray;}
  </style>
</head>
<body>
<h1 style="border: 1px solid black">TELLO DRONE</h1>

<div>
<div class="my_content_container">
  <a href="http://127.0.0.1:5000/takeoff">Takeoff</a>
  <a href="http://127.0.0.1:5000/land">Land</a>
  </div>
  <div>
  <a href="http://127.0.0.1:5000/forward">Forward</a>
  <a href="http://127.0.0.1:5000/backward">Backward</a>
  </div>
  <div>
  <a href="http://127.0.0.1:5000/up">Up</a>
  <a href="http://127.0.0.1:5000/down">Down</a>
  <a href="http://127.0.0.1:5000/left">Left</a>
  <a href="http://127.0.0.1:5000/right">Right</a>
  </div>
  <div>
  <a href="http://127.0.0.1:5000/cw">CW</a>
  <a href="http://127.0.0.1:5000/ccw">CCW</a>
  <a href="http://127.0.0.1:5000/picture">Picture</a>
</div>
<div> 
<img src="{{url_for('static', filename='savedImage.jpg')}}" />
</div>
</div>
</body>
</html>