<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>

  <title>TELLO DRONE</title>
  <style>
    h1,
    p,
    .btn {
      font-family: "Lucida Console", "Courier New", monospace;
    }

    body {
      background-color: rgb(243, 242, 242);
    }
  </style>

</head>

<body>
  <div class="container-fluid">
    <div class="row">
      <h1>WELCOME TO TELLO DRONE</h1>
    </div>
    <div class="row">
      <img src="{{ url_for('static', filename='drone1.jpg') }}" alt="mydrone1" width="900" height="300">
    </div>
    <div class="mt-2">
      <a href="https://www.ryzerobotics.com/tello-edu" class="btn btn-secondary">
        Get to know Tello EDU
      </a>
    </div>
    <div class="mt-2">
      <p><b> USER CAN CONTROL THE DRONE USING THIS WEBPAGE! </b></p>
      <p><i><b>&mdash;Tello's Basic Commands: </b></i></p>
    </div>
    <div>
      <a href="http://127.0.0.1:5000/takeoff" class="btn btn-outline-dark">Takeoff</a>
      <a href="http://127.0.0.1:5000/land" class="btn btn-outline-dark">Land</a>
      <a href="http://127.0.0.1:5000/forward" class="btn btn-outline-dark">Forward</a>
      <a href="http://127.0.0.1:5000/backward" class="btn btn-outline-dark">Backward</a>
      <a href="http://127.0.0.1:5000/up" class="btn btn-outline-dark">Up</a>
      <a href="http://127.0.0.1:5000/down" class="btn btn-outline-dark">Down</a>
      <a href="http://127.0.0.1:5000/left" class="btn btn-outline-dark">Left</a>
      <a href="http://127.0.0.1:5000/right" class="btn btn-outline-dark">Right</a>
      <a href="http://127.0.0.1:5000/cw" class="btn btn-outline-dark">CW</a>
      <a href="http://127.0.0.1:5000/ccw" class="btn btn-outline-dark">CCW</a>
      <a href="http://127.0.0.1:5000/picture" class="btn btn-outline-dark">Picture</a>
    </div>
    <div class="d-flex justify-content-center mt-3">
      <img class="border border-dark" id="droneImage" />
    </div>
    <div class="d-flex justify-content-center mt-3">
      <p>Thank you for your time and effort!</p>
    </div>

  </div>
  </div>
  <script>
    var myImage = document.getElementById("droneImage")
    myImage.src = "{{url_for('static', filename='savedImage.jpg')}}" + '?dummy=' + Math.random();
  </script>
</body>

</html>